services:
  hello-javascript:
    container_name: launchdarkly-hello-js
    image: launchdarkly-hello-js:dev
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    env_file:
      - .env
    environment:
      - NODE_ENV=development

  test:
    container_name: launchdarkly-hello-js-test
    image: launchdarkly-hello-js:dev
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    env_file:
      - .env
    command: npm run test:all
    profiles:
      - test

volumes:
  node_modules:
